.pdd-a{
	padding: auto !important;
}
.txac {
	text-align: center;
}
.txac input{
	width: 100%;
}
.lbl-menu{
	color: #776A64;
	font-size: 0.85em;
}
input[type="image"] {
    border: none;
    outline:none;
}
#map{
	height: 90%;
}
.action-button.green {
  background-color: #27AE60;
  text-decoration: none;
  border: none;
}
.action-button.red {
  background-color: #C0392B;
  text-decoration: none;
  border: none;
}
.border-n{
  border: none;
}
#iw_container p{
  color: black !important;
}
.trtd{
  width: auto;
  padding: 5px 10px;
  vertical-align: bottom;
  border-bottom: 2px solid #ddd;
  line-height: 1.42857143;
  text-align: center;
  font-weight: bold;
}
.tbtd{
  width: auto;
  padding: 5px 10px;
  vertical-align: bottom;
  line-height: 1.42857143;
  text-align: center;
}
.table{
  width: 100%;
}
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
  padding: 3px !important;
  text-align: center;
}
.alert-danger hr {
  border-top-color: #e4b9c0;
}
.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
  padding: 3px !important;
  text-align: center;
}
.alert-success hr {
  border-top-color: #c9e2b3;
}
.alert-success .alert-link {
  color: #2b542c;
}
.hide{
  display: none;
}
.error {
  color:#a94442;
}


.modal {
    display: none; /* Hidden by default */
    position: absolute; /* Stay in place */
    margin: 0 auto;
    z-index: 999; /* Sit on top */
    left: 0;
    top: 0;
    width: inherit; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.btn-terms{
  background-color: #EF9C12;
}
.btn-terms:active{
  background-color: #EF9C12;
}
.tbtd a{
  text-decoration: none;
}
.tbtd a:hover{
  color: #595959;
}
.tbtd a:focus{
  color: #595959;
}
.alert-promo{
  width: 90%;
  margin: 0 auto;
}